

    <div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：主机调动状态>主机调动状态展示
        </div>
        <div class="pannel">
            <table class="common_table">

            {{if compare .errmsg ""}}
                <tr>
                    <th width="2%">Id</th>
                    <th width="6%">版本信息(version)</th>
                </tr>
                {{range .versions}}
                    <tr>
                        <td>{{.Id}}</td>
                        <td>{{.Version}}</td>
                    </tr>
                {{end}}
            {{else}}
                {{.errmsg}}
            {{end}}
            </table>


        </div>
    </div>
