

    <div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：修改主机配置
        </div>
        <div class="pannel">
            <form action="/db/updateRoute" method="post">
            <h3 class="review_title">修改主机配置</h3>
            <div class="form_group">
                <label>模块ID(modid)：</label>
                <input type="text" class="input_txt2" name="modid" value="{{.route.Modid}}">
            </div>
            <div class="form_group">
                <label>子模块ID(cmdid)：</label>
                <input type="text" class="input_txt2" name="cmdid" value="{{.route.Cmdid}}">
            </div>
            <div class="form_group">
                <label>主机IP(serverip)：</label>
                <input type="text" class="input_txt2" name="serverip" value="{{.route.IpString}}">
            </div>
            <div class="form_group">
                <label>主机端口号(serverport)：</label>
                <input type="text" class="input_txt2" name="serverport" value="{{.route.Serverport}}">
            </div>
            <input type="hidden" name="id" value="{{.route.Id}}">
            <div class="form_group indent_group line_top">
                <input type="submit" value="确  认  编  辑" class="confirm">
                <span>{{.errmsg}}</span>
            </div>
        </form>
        </div>
</div>

